ion-segment {
  color: #f70369;
  //background: #466d77;
  //border: 2px solid #2b79c2; /* Add your desired border color */
}
.segment-container {
  padding-top: 5px;
  margin-top: 10px; /* Adjust the margin value as needed */

}




