<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="createOffer()" [disabled]="form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">
              Title
            </ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">
              Description
            </ion-label>
            <ion-textarea rows="3" formControlName="description" maxlength="180" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">
              Price
            </ion-label>
            <ion-input type="number" formControlName="price" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3">
          <ion-item>
            <ion-label position="stacked">
              Available From
            </ion-label>
            <ion-datetime-button (ionChange)="onDatetimeChange($event)" datetime="datetimeFrom"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetimeFrom"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col sizeSm="3">
          <ion-item>
            <ion-label position="stacked">
              Available To
            </ion-label>
            <ion-datetime-button (ionChange)="onDatetimeChange($event)" datetime="datetimeTo"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetimeTo"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3">
          <app-image-picker></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-microphone></app-microphone>
  </form>
</ion-content>
