.selected {
  background-color: #c4b955;
  box-shadow: 0 2px 4px rgba(175, 218, 57, 0.8);
  padding: 5px; /* Add your desired padding value */
  margin: 5px; /* Add your desired margin value */
  /* Add any other styles to highlight the selected item */
}
