h2{
  font-size: 18px;
  border: 1px solid var(--ion-color-primary);
  color:var(--ion-color-primary);
  border-radius: 5px;
  padding: 8px;
}
.detail{
  display: flex;
  align-items: center;
}
.sapce-left{
  margin-left: 2px;

}
.space-right {
  margin-right: 2px;
}

